@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-archivo: "Archivo", sans-serif;
}

::selection {
  @apply bg-orange-400 text-stone-900;
}
